@import '_null';

@import url(https://fonts.googleapis.com/css?family=Inter:regular,700,900);


body{
   font-family: 'Inter';
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

[class*="__container"]{
   max-width: 1400px;
   margin: 0 auto;
   padding: 0px 15px;
}
// ======главный блок============================================================
.boss-list {
   flex:1 0 auto;
         display: none;
         justify-content: center;
         align-items: center;
         position: relative;
         &.active{
            display: flex;
         }
		// .boss-list__container

		&__container {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
		}

		// .boss-list__title

		&__title {
         font-weight: 700;
         font-size: 72px;
         line-height: 120%;
         color: #5E5E5E;
		}

		// .boss-list__subtitle

		&__subtitle {
         font-weight: 700;
         font-size: 24px;
         line-height: 120%;
         color: #5E5E5E;
		}
}
.button {
   background: #B47AEA;
   border-radius: 15px;
   font-weight: 700;
   font-size: 24px;
   line-height: 120%;
   color: #FFFFFF;
   padding: 8px 15px;
   margin-top: 30px;
}
// ========секция с вводом имени пользователя==========================================================
.pupap-user-name {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(61, 48, 59, 0.548);
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   visibility: hidden;
   transform: scale(0);
   transition: all 0.3s ease 0s;
   &.active{
      opacity: 1;
      visibility:visible;
      transform: scale(1);
   }
   // .pupap-user-name__block

   &__block {
      display: flex;
   }
   &__button{
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      margin-top: 0px; 
   }
   &__input{
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      padding-left: 10px;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      &.active::placeholder{
         color: red;
         text-decoration:underline;
      }
   }
}
// ==секция с добавлением задания=====================================================
.main{
   display: none;
   &.active{
      display: block;
   }
}
.to-do {
   padding-top: 29px;
   // .to-do__container

   &__container {
   }
   // .to-do__header
   // .to-do__menu

   &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   // .to-do__hi-block

   &__hi-block {
      display: flex;
      align-items: center;
   }

   // .to-do__icon

   &__icon {
      flex: 0 0 74px;
      height: 74px;
      img{
         width: 100%;
      }
   }

   // .to-do__user

   &__user {
      display: flex;
      flex-direction: column;
   }

   // .to-do__name-user

   &__name-user {
      display: flex;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #5E5E5E;
      column-gap: 5px;
   }
      // .to-do___title
   &__title {
      font-weight: 700;
      font-size: 64px;
      line-height: 77px;
      color: #5E5E5E;
   }

}
.user-name {
}
.amount-task {
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   color: #EF6161;
}
.logout-menu {
   background: transparent;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   color: #B47AEA;
}
// =========секция задач==============================================
.add-task {
      padding-top: 85px;
      padding-bottom: 30px;
   // .add-task__container

   &__container {
   }

   // .add-task__new-task

   &__new-task {
      display: flex;
      column-gap: 10px;
      align-items: center;
   }

   // .add-task__button

   &__button {
      margin-top: 0px;
      width: 30px;
      height: 30px;
      background: #B47AEA;
      font-size: 24px;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   // .add-task__title

   &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #B47AEA;
      cursor: pointer;
   }

   // .add-task__user-task

   &__user-task {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
   }
}
// =======добавление задач==================
.task-text {
   flex: 0 0 0;
   display: flex;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   border-radius: 15px;
   overflow: hidden;
   transition: all 0.3s ease 0s;
   &.active{
      flex: 0 0 50%;
   }
   // .task-text__input

   &__input {
      padding-left:15px ;
      flex: 1 0 auto;
   }

   // .task-text__button

   &__button {
      margin: 0px;
      padding: 0px 0px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      width:80px;
      height: 30px;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
   }
}

// ================список задач========================
.task {
   display: flex;
   align-items: center;
   column-gap: 10px;
   // .task__basket

   &__basket {
      flex: 0 0 30px;
      width: 30px;
      img{
         width: 100%;
      }
   }

   // .task__checkbox

   &__checkbox {
      height: 25px;
      width: 25px;
      &:checked +.task__text{
         text-decoration-line: line-through;
      }
   }

   // .task__text

   &__text {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      display: flex;
      & .task__text-input{
         font-weight: 500;
         font-size: 24px;
         line-height: 29px;
         color: #000000;
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
      & button{
         font-weight: 500;
         color: #FFFFFF;
         margin-left:5px ;
         padding: 0px 5px;
         text-transform: uppercase;
         background: #B47AEA;
      }
   }

   // .task__reload

   &__reload {
      font-size: 15px;
   }

}
